<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gym</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<header>
    <h1>Profil użytkownika</h1>
</header>

 <div th:replace="base :: navigation"></div> 




<div class="container">
    <div class="card">
        <h2><span th:text="${user.firstName}"></span> <span th:text="${user.lastName}"></span></h2>
        <p><strong>ID:</strong> <span th:text="${user.id}"></span></p>
        <p><strong>Login:</strong> <span th:text="${user.login}"></span></p>
        <span th:switch="${user.roles}">
            <p th:case="'ROLE_TRAINER'"><strong>Rola:</strong> Trener</p>
            <p th:case="'ROLE_ADMIN'"><strong>Rola:</strong> Administrator</p>
            <p th:case="'ROLE_MODERATOR'"><strong>Rola:</strong> Moderator</p>
            <p th:case="*"><strong>Rola:</strong> Użytkownik</p>
        </span>

    </div>
</div>

<footer>
    <p>&copy; 2025 Twoja Aplikacja Treningowa</p>
</footer>

</body>
</html>
