<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:replace="${title}">Base Title</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<header>
    <h1>Twoja Aplikacja Treningowa</h1>
</header>

<!-- Fragment: Navigation -->
<div th:fragment="navigation">
    <nav>
        <!-- First row of navigation -->
<ul>
    <!-- Always visible -->
    <li><a th:href="@{/home}">Strona główna</a></li>
    <li><a th:href="@{/me}">Moje dane</a></li>
    <li><a th:href="@{/course}">Wszystkie kursy</a></li>
    <li><a th:href="@{/course/user}">Moje kursy</a></li>
    <li><a th:href="@{/workout/user}">Moje treningi</a></li>
    <li><a th:href="@{/trainingplan/user}">Moje plany treningowe</a></li>
    <li><a th:href="@{/trainerPlan/trainer/user}">Przypisane plany treningowe</a></li>
    
</ul>


<!-- Trainer-only section -->
<ul th:if="${user.trainer != null}">
    <li><a th:href="@{/course/trainer}">Kursy trenera</a></li>
    <li><a th:href="@{/course/trainer/form}">Dodaj kurs</a></li>
    <li><a th:href="@{/trainerPlan/trainer-courses}">Plany stworzone przez trenera</a></li>
    <li><a th:href="@{/trainerPlan/trainer/form}">Utwórz trening dla użytkownika</a></li>
    
    
            <li><a th:href="@{/trainerplan/user}">Moje plany treningowe od Trenera</a></li>
            <li><a th:href="@{/trainerplan/trainer}">Moje plany treningowe dla użytkowników</a></li>
</ul>

<ul>
    <!-- Regular users only -->
    <li th:if="${user.trainer == null}">
        <a th:href="@{/trainer/form}">Zostań trenerem</a>
    </li>
    <li><a th:href="@{/trainer}">Lista trenerów</a></li>

    <!-- Everyone -->
    <li><a th:href="@{/workout/user/form}">Utwórz trening</a></li>
    <li><a th:href="@{/performLogout}">Wyloguj</a></li>
</ul>

        
    </nav>
</div>

</body>
</html>
