<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Temp site</title>
</head>
<body>
<h2>Future dashboard???</h2>
<div th:if="${message}" th:text="${message}"></div>
<a href="/">Go to homepage</a>




<form th:action="@{/users/me}" method="get" style="display:inline;">
  <button type="submit">Pokaż profil</button>
</form>

<form th:action="@{/users/workout}" method="get" style="display:inline;">
  <button type="submit">Pokaż treningi</button>
</form>

<form th:action="@{/auth/logout}" method="post" style="display:inline;">
  <button type="submit">Logout</button>
</form>

</body>
</html>
