<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gym</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<header>
    <h1>Profil użytkownika</h1>
</header>

 <div th:replace="base :: navigation"></div> 

 <div th:if="${user == null}">
    <p style="color:red;">Błąd: użytkownik nie został załadowany.</p>
</div>



<div class="container">
    <div class="card">
        <h2>Dane użytkownika</h2>
        <p><strong>ID:</strong> <span th:text="${user.id}"></span></p>
        <p><strong>Login:</strong> <span th:text="${user.login}"></span></p>
        <p><strong>Imię:</strong> <span th:text="${user.firstName}"></span></p>
        <p><strong>Nazwisko:</strong> <span th:text="${user.lastName}"></span></p>
        <p><strong>Role:</strong> <span th:text="${user.roles}"></span></p>

<h2>Trener</h2>

<div th:if="${user.trainer != null}">
    <p><strong>Użytkownik jest trenerem:</strong> TAK</p>
    <p><strong>ID Trenera:</strong> <span th:text="${user.trainer.id}"></span></p>
</div>

<div th:if="${user.trainer == null}">
    <p><strong>Użytkownik jest trenerem:</strong> NIE</p>
</div>



        <div>
            
            <h2>Kursy</h2>

            <div th:if="${user.userCourse != null and #lists.size(user.userCourse) > 0}">
                <ul>
                    <li th:each="course : ${user.userCourse}" th:text="${course.name}">Kurs 1</li>
                </ul>
            </div>
            
            <div th:if="${user.userCourse == null or #lists.size(user.userCourse) == 0}">
                <p>Brak Kursów</p>
            </div>

        </div>

        <div>
            <h2>Własne Plany treningowe</h2>

            <div th:if="${user.userTrainingPlans.size() > 0}">
                <ul>
                    <li th:each="plan : ${user.userTrainingPlans}" th:text="'Plan #' + ${plan.id}">Plan 1</li>
                </ul>
            </div>

            <div th:if="${user.userTrainingPlans.size() == 0}">
                <p>Brak planów</p>
            </div>

        </div>

        <div>
            <h2>Treningi</h2>

            <div th:if="${user.user_workouts.size() > 0}">
                <ul>
                    <li th:each="workout : ${user.user_workouts}" th:text="'Trening #' + ${workout.id}">Trening 1</li>
                </ul>
            </div>

            <div th:if="${user.user_workouts.size() == 0}">
                <p>Brak Treningów</p>
            </div>

        </div>
    </div>
</div>

<footer>
    <p>&copy; 2025 Twoja Aplikacja Treningowa</p>
</footer>

</body>
</html>
