<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Kurs</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<header>
    <h1>Dodaj Nowy Kurs</h1>
</header>

 <div th:replace="base :: navigation"></div> 


<div class="container">
    <div class="card">
        <form th:action="@{/course/trainer/form}" th:object="${course}" method="post">
            <label for="title">Nazwa kursu:</label><br>
            <input type="text" id="title" th:field="*{title}" required><br><br>

            <button type="submit">Dodaj Kurs</button>
        </form>
    </div>
</div>

<footer>
    <p>&copy; 2025 Twoja Aplikacja Treningowa</p>
</footer>

</body>
</html>
